p {
    display: block;
    margin: 0;
    white-space: pre-line; 
}

.preview-panel {
    word-wrap: break-word;  /* Breaks long words */
    overflow-x: hidden;     /* Hides horizontal scroll */
}

.prose{
    white-space: normal;
}
  